@model IEnumerable<Global.Data.Quiz>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            <a href="@Url.Action("GetQuestionsForQuizId", "Question", new { id = item.QuizID })"> Take Quiz</a>
        </td>
        <td>
            @Html.ActionLink("All High Scores", "ShowHighScoresForQuizID", new { id = item.QuizID }) |
            @Html.ActionLink("My High Scores", "GetQuizScoresForUserId","User", new { id = item.QuizID }, null)

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuizID }) |
            @Html.ActionLink("Details", "Details", new { id = item.QuizID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.QuizID })
        </td>
    </tr>
}

</table>
